<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ParseScreenshots" value="true"/>
    <add key="ScreenshotsRootFolder" value="screenshots"/>
    <add key="ScreenshotRegexp" value="INFO\sTestResultsListener\s-\sScreenshot\s:\stest-output\\screenshots\\(.+)"/>
  </appSettings>

</configuration>
